{{ define "main" }}
<h1>{{ .Title }}</h1>
<p>I'm a photographer, I've been taking photos seriously for since 2022. I pretty much only use a Cannon EOS M-50 with the stock lens and the built in black and white filter. I don't touch up my pictures or radically change them.</p>

<p>You can hire me as a photographer. I only shoot black and white, do single portraits and nightlife. All of these photos are for sale as prints as well. </p>
<div class="photo-grid">
    
  {{ range .Pages }}
    <div class="photo-item">
      <a href="{{ .Permalink }}">
        <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}">
      </a>
    </div>
  {{ end }}
</div>

<style>
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: .5rem;
  }

  .photo-item {
    aspect-ratio: 320 / 213;
    overflow: hidden;
  }

  .photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .photo-item:hover img {
    transform: scale(1.05);
  }

  @media (min-width: 992px) {
    .photo-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
{{ end }}