{{ define "main" }}
<div class="music-content">
    <h1>{{ .Title }}</h1>
    <p>I have been making music since 2016 under many different names: Breeq, Mark X Steiner, ^%(!@@$$$, J-Ket, but now I go by Kettle. I mostly make electronic music, but sometimes venture off into other genres. I also DJ on occasion, I prefer to do longer sets and playing on vinyl.</p>
    
    <div class="button-group" id="genreFilters">
        <button class="genre-filter" data-genre="all">All Genres</button>
        {{ range $genre := .Site.Taxonomies.genres }}
            <button class="genre-filter" data-genre="{{ $genre.Page.Title }}">{{ $genre.Page.Title }}</button>
        {{ end }}
    </div>

    <h2>Mixes</h2>
    <div id="mixes" class="track-section">
        {{ $mixes := where .Pages "Params.music_categories" "intersect" (slice "mixes") }}
        {{ $sortedMixes := sort $mixes "Params.rank" "desc" }}
        {{ range $index, $element := $sortedMixes }}
            <div class="track-item{{ if ge $index 4 }} hidden{{ end }}" data-genres="{{ delimit .Params.genres " " }}">
                {{ .Content }}
            </div>
        {{ else }}
            <p>No mixes found.</p>
        {{ end }}
    </div>

    <h2>Original Productions</h2>
    <div id="productions" class="track-section">
        {{ $productions := where .Pages "Params.music_categories" "intersect" (slice "productions") }}
        {{ $sortedProductions := sort $productions "Params.rank" "desc" }}
        {{ range $index, $element := $sortedProductions }}
            <div class="track-item{{ if ge $index 4 }} hidden{{ end }}" data-genres="{{ delimit .Params.genres " " }}">
                {{ .Content }}
            </div>
        {{ else }}
            <p>No productions found.</p>
        {{ end }}
    </div>

    <style>
        button {
            background-color: white;
            color: black;
            border: 1px solid black;
            padding: 5px 10px;
            font-family: Garamond, serif;
            font-size: 16px;
            transition: background-color 0.3s ease, color 0.3s ease;
            cursor: pointer;
            margin: 0 5px 5px 0;
            }
        button:hover, button.active {
            background-color: black;
            color: white;
        }
    
        .track-section {
            margin-bottom: 5px;
        }
    
        .track-item {
            margin-bottom: 5px;
        }
    
        iframe {
            margin-bottom: 10px;
        }
        .hidden {
            display: none;
        }
        .genre-filter.active {
            background-color: black;
            color: white;
        }
        </style>
 <script>
    document.addEventListener('DOMContentLoaded', function() {
        const genreFilters = document.querySelectorAll('.genre-filter');
        const trackItems = document.querySelectorAll('.track-item');
        let hasUserInteracted = false;

        function applyFilter(genre) {
            trackItems.forEach(item => {
                if (hasUserInteracted) {
                    item.classList.remove('hidden');
                }
                if (genre === 'all' || item.getAttribute('data-genres').includes(genre)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        }

        genreFilters.forEach(filter => {
            filter.addEventListener('click', function() {
                const genre = this.getAttribute('data-genre');
                
                genreFilters.forEach(btn => btn.classList.remove('active'));
                this.classList.add('active');

                hasUserInteracted = true;
                applyFilter(genre);
            });
        });

        // Initial filter application
        applyFilter('all');
    });
    </script>
</div>
{{ end }}