{{ define "main" }}
{{ if and (eq .Kind "term") (eq .Data.Plural "writing_categories") }}
{{ partial "writing-list.html" . }}
{{ else }}
<div class="content-list">
    <h1>{{ partial "page-title.html" . }}</h1>
    
    {{ range .Pages }}
        <article class="list-item">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ if not .Date.IsZero }}
                <time>{{ .Date.Format "January 2, 2006" }}</time>
            {{ end }}
            <p>{{ .Summary }}</p>
        </article>
    {{ else }}
        <p>No content found.</p>
    {{ end }}
</div>

{{ end }}
{{ end }}