{{ define "main" }}
<article class="content-single">
    <h1>{{ .Title }}</h1>
    {{ if not .Date.IsZero }}
        <time>{{ .Date.Format "January 2, 2006" }}</time>
    {{ end }}
    <div class="content">
        {{ .Content }}
    </div>
</article>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "name": "{{ .Title }}",
      "author": {
        "@type": "Person",
        "name": "J.M. Kettle"
      },
      "datePublished": "{{ .Date.Format "2006-01-02" }}",
      "description": "{{ with .Content }}{{ . | plainify | truncate 160 }}{{ else }}{{ .Title }}{{ end }}"
    }
</script>
{{ end }}