{{- $site := .site -}}
{{- $limit := .limit | default 0 -}}
{{- $showDates := .showDates | default false -}}
{{- $class := .class | default "" -}}
{{- $posters := sort $site.Data.posters "date" "desc" -}}
{{- if gt $limit 0 -}}
    {{- $posters = first $limit $posters -}}
{{- end -}}
<div class="event-poster-grid {{ $class }}">
    {{- range $idx, $poster := $posters }}
    {{- $imageSrc := $poster.image -}}
    {{- with $poster.cloudflare_id -}}
        {{- $imageSrc = printf "https://imagedelivery.net/%s/%s/full" $site.Data.site.brand.cloudflare_images_account . -}}
    {{- end -}}
    <article class="event-poster">
        <a href="{{ $poster.url }}">
            {{ $sizes := "(max-width: 480px) calc((100vw - 1.75rem) / 2), (max-width: 600px) calc((100vw - 2rem) / 2), 250px" }}
            {{ if in $class "--featured" }}{{ $sizes = "(max-width: 480px) calc(100vw - 1.25rem), (max-width: 600px) calc(100vw - 1.5rem), 250px" }}{{ end }}
            {{ partial "responsive-image.html" (dict "src" $imageSrc "alt" $poster.alt "eager" (eq $idx 0) "priority" (eq $idx 0) "sizes" $sizes) }}
        </a>
        {{ if $showDates }}
        <time datetime="{{ $poster.date }}">{{ (time $poster.date).Format "January 2, 2006" }}</time>
        {{ end }}
    </article>
    {{- end }}
</div>
