{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ range .Pages }}
        <article>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ if eq .Section "photos" }}
                {{ with .Params.image }}
                    <img src="{{ . | relURL }}" alt="{{ $.Title }}">
                {{ end }}
            {{ else }}
                <time>{{ .Date.Format "January 2, 2006" }}</time>
            {{ end }}
        </article>
    {{ else }}
        <p>No content found</p>
    {{ end }}
{{ end }}